.ask-lusso-bg {
  border-radius: 60px;
  border: 1px solid rgba(108, 140, 255, 0.5);
  background: linear-gradient(
    125deg,
    #2d246c 6.52%,
    #16132b 30.66%,
    #18142e 63.49%,
    #25204a 78.95%
  );
  box-shadow: 0px 0px 30px 0px rgba(108, 140, 255, 0.5);
}
