
.remove-header {
    display: none; 
  }
  
  .custom-drawer-content {
    background: linear-gradient(180deg, #18142d 0%, #2e246c 100%);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  
  option {
    margin-top: 2rem !important;
    border: none !important;
    padding: 15px !important;
  }