.exploreCard {
  display: flex;
  flex-direction: column;
  background: #262242;
  border: 0.5px solid #FFFFFF;
  border-radius: 8px;
  padding: 12px;
  width: 240px;
  gap: 8px;
  cursor: pointer;
}

.chip {
  background: #FFFFFF1F;
  border-radius: 32px;
  color: #FFF;
  padding-left: 8px;
  padding-right: 8px;
  font-size: small;
}

.cardName {
  font-family: 'Inter';
  color: #FFF;
  font-weight: 600;
  font-size: large;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
  font-family: 'Inter';
  color: #FFF;
  font-weight: 500;
  font-size: large;
}

.card-desc {
  color: #B1ADCD;
  font-size: medium;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trending-container {
  background: linear-gradient(99.03deg, rgba(53, 27, 137, 0.2) 0%, rgba(79, 35, 114, 0.2) 100%);
  padding: 24px;
  border-radius: 8px;
}

.trending-card {
  background: #FFFFFF0F;
  border: 1px solid #FFFFFF0A;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
}


@media screen and (max-width: 800px) {
  .exploreCard {
    width: 100%;
    flex-direction: row;
    gap: 24px;
  }

  .exploreCard .product-img-container img {
    width: 150px !important;
    height: auto !important;
    aspect-ratio: 1;
  }

  .explore-card-details-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;

  }

}
.react-tel-input .country-list .search {
  position: sticky;
  top: 0;
  padding: 10px 0 6px 10px;
  background-color: #2D246C !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #333 !important;
}

.react-tel-input .country-list .country.highlight {
  background-color: #333 !important;
}

.date-picker::-webkit-calendar-picker-indicator {
  color: white; 
  filter: invert(1); 
  opacity: 0.8; 
}

.date-picker::-webkit-calendar-picker-indicator:hover {
  opacity: 1; 
}

.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
